@using Prestamos.Models
@{
    ViewData["Title"] = "Crear nuevo prestamo";
}
<h1>Crea un nuevo Prestamo</h1>
<hr>
<strong><p>Fecha</p></strong>
<input type="date" id="fechaFinEmpleado" name="fechaFinEmpleado" value="">