@using Prestamos.Models
@{
    ViewData["Title"] = "Crear nuevo prestamo";
}
<h1>Crea un nuevo Prestamo</h1>
<hr>
<strong><p>Fecha</p></strong>
<input type="date" id="fechaFinEmpleado" name="fechaFinEmpleado" value="">
<p></p>
<strong><p>Monto Prestamo</p></strong>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">$</span>
    </div>
    <input type="text" class="form-control" id="salarioDeEmpleado" name="salarioDeEmpleado" aria-label="Amount (to the nearest dollar)">
</div>