@{
    ViewData["Title"] = "PAGINA PRINCIPAL DE APP DE PRESTAMOS";
}

<div class="text-center">
    <h1 class="display-4">OPCIONES</h1>
    <a type="button" class="btn btn-primary" class="btn btn-primary" asp-controller="Prestamo" asp-action="Crear">Agregar Prestamos</a>
    <a type="button" class="btn btn-secondary" asp-controller="Prestamo" asp-action="Ver">Administrar Prestamos</a>
    <a type="button" class="btn btn-success" href="">Calculos</a>
    <a type="button" class="btn btn-danger" href="">Danger</a>
</div>
